/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

.summerGrass {
  width: 60%;
  height: 40%;
}

.archive {
  width: 40%;
  height: 572px;
  position: relative;
  left: 600px;
  bottom: 572px;
}

.ladybug {
  width: 32%;
  position: relative;
  bottom: 550px;
}

.skate {
  width: 32%;
  position: relative;
  bottom: 913px;
  left: 300px;
}

.heel {
  width: 32%;
  position: relative;
  left: 600px;
  bottom: 1277px;
}



/* Posititoning Classes */

